@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f2f7fa;
  --color-primary-100: #e0eff5;
  --color-primary-200: #b3d8e5;
  --color-primary-300: #80bcd1;
  --color-primary-400: #4da0bd;
  --color-primary-500: #267f9c;
  --color-primary-600: #1d647c;
  --color-primary-700: #154b5e;
  --color-primary-800: #103646;
  --color-primary-900: #0b242f;
}

@source "../node_modules/flowbite-svelte/dist";